body {
    background-color: black;
    color:white;
    font-family: sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    align-items: center;
    

}

.logo-icon {
    margin-right: 15px;
   margin-top: -650px;
}

.logo-text h1 {
    font-size: 24px; 
    margin-bottom: 5px;
    margin-top: -350px;
    margin-left: 10px;
    color: #ADD8E6;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
}

.logo-text p {
    font-size: 18px;
    margin-left: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    margin-top: -1px;
}

.buttons {
    display: flex;
    margin-top: -650px;
    margin-right: 50px;
}

.btn {
    background-color:black ;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
}

.btn:hover {
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 160px;
    margin-top: -100px;
}


.logo-main h2 {
    font-size: 38px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-top: -115px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    
}

.logo-main p {
    font-size: 30px;
    margin-left: 350px;
    margin-top: -5px;
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ADD8E6;
}